{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Cloudflare Cache Rules"|t %}

{% block content %}

    <form action="{{ actionUrl(craft.cloudflare.settings.saveRulesActionUri) }}" method="post">
        {{ csrfInput() }}
        {{ forms.editableTableField({
            first: true,
            label: 'Cache Clearing Rules'|t,
            id: 'rules',
            name: 'rules',
            value: '',
            addRowLabel: 'Add Rule',
            cols: {
                0: { heading: 'URL Trigger Pattern', type: 'singleline' },
                1: { heading: 'Clear URLs', type: 'multiline' },
            },
            rows: craft.cloudflare.getRulesForTable,
            errors: '',
            instructions: "Specify URL patterns on the left (can include `*`, like `blog/*`) that, when updated, will clear the URLs listed on the right (like `blog`). Right cannot use wildcards, but can also be relative."
        }) }}

        <input type="submit" class="btn submit" value="Save">

    </form>

{% endblock %}