.cloudflare-verify {
    margin-bottom: 35px;
}

.cloudflare-verify.verified:after {
    content: "";
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAyMCAyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9ImNoZWNrIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGZpbGw9IiMyN0FFNjAiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xMCwwIEM0LjQ4LDAgMCw0LjQ4IDAsMTAgQzAsMTUuNTIgNC40OCwyMCAxMCwyMCBDMTUuNTIsMjAgMjAsMTUuNTIgMjAsMTAgQzIwLDQuNDggMTUuNTIsMCAxMCwwIFogTTgsMTUgTDMsMTAgTDQuNDEsOC41OSBMOCwxMi4xNyBMMTUuNTksNC41OCBMMTcsNiBMOCwxNSBaIiBpZD0iU2hhcGUiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
    background-size: 14px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    margin-left: 8px;
}

.cloudflare-verify.failed:after {
    content: "";
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyMnB4IiBoZWlnaHQ9IjE5cHgiIHZpZXdCb3g9IjAgMCAyMiAxOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9Indhcm5pbmciIGZpbGwtcnVsZT0ibm9uemVybyIgZmlsbD0iI0QwMDIxQiI+ICAgICAgICAgICAgPHBhdGggZD0iTTAsMTkgTDIyLDE5IEwxMSwwIEwwLDE5IFogTTEyLDE2IEwxMCwxNiBMMTAsMTQgTDEyLDE0IEwxMiwxNiBaIE0xMiwxMiBMMTAsMTIgTDEwLDggTDEyLDggTDEyLDEyIFoiIGlkPSJTaGFwZSI+PC9wYXRoPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+);
    background-size: 14px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    margin-left: 8px;
}

.widget.putyourlightson\\cloudflare\\widgets\\quickpurge h2 {
    padding: 24px 24px 10px 24px;
}

.widget.putyourlightson\\cloudflare\\widgets\\quickpurge .front .pane {
    padding: 0;
}

.purge-option {
    cursor: pointer;
    display: block;
    width: 100%;
    clear: both;
    border-top: 1px solid #e3e5e8;
}

.purge-option .heading {
    display: block;
    clear: both;
    padding: 24px;
}

.purge-option .heading h3 {
    margin: 0;
    display: inline-block;
    font-weight: normal;
    line-height: 24px;
    user-select: none;
}

.purge-option .heading .icon {
    display: inline-block;
    margin-right: 8px;
    float: left;
}

.purge-option .heading .icon svg {
    margin: 0;
    padding: 0;
    display: block;
    width: 24px;
    height: 24px;
}

.purge-option .heading .icon svg #artwork { fill: #8f98a3; }
.purge-option:hover .heading .icon svg #artwork { fill: #29323d; }
.purge-option .heading.active .icon svg #artwork { fill: #29323d; }

.purge-option:last-child {
    border-radius: 0 0 4px 4px;
}

.purge-option.purge-all {
    background-image: linear-gradient(-45deg, #fafafa 25%, transparent 25%, transparent 50%, #fafafa 50%, #fafafa 75%, transparent 75%, transparent);
    background-size: 12px 12px;
}

.purge-option.purge-all:hover {
    background-image: linear-gradient(-45deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent);
    background-size: 12px 12px;
}

.purge-option:hover {
    background: #fafafa;
}

.purge-urls-form {
    display: block;
    padding: 18px 24px;
    border-top: 1px dotted #e3e5e8;
    clear: both;
    overflow: hidden;
}

.purge-urls-form.hidden {
    display: none;
}

.purge-urls-form .instructions p {
    font-size: 1em;
    margin-bottom: 4px;
    color: #8f98a3;
}

.purge-urls-form .btn {
    margin-top: 1rem;
}

.cloudflare-not-configured {
    padding: 0 24px 24px 24px;
    color: #8f98a3;
}
